{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myfirst.css' %}" />
    <title>Frutas</title>
  </head>
  <body style="background-color: rgb(117, 117, 166)">
    <h1>Ricas Frutas</h1>

    <table border="2" style="background-color: burlywood">
      {% for x in fruta %}
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.fruta}}</td>
        <td><a href="sacar/{{ x.id }}">sacar</a></td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="suma_fruta/">Agregar</a></p>
    <button onclick="myFunction()">Click me!</button>
    <script src="{% static 'myfirst.js' %}"></script>
  </body>
</html>
