{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Aló</title>
  </head>
  <body>
    <div class="imagen">
      <h1>Members</h1>
      <img
        id="libros"
        class="libros"
        src="{% static 'imgs/libros.png' %}"
        alt=""
      />
    </div>
    <div class="tabla">
      <table>
        {% for x in mymembers %}
        <tr>
          <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
          <td>{{ x.nombre }}</td>
          <td>{{ x.apellido }}</td>
          <td><a href="delete/{{ x.id }}">eliminar</a></td>
        </tr>
        {% endfor %}
        <!--realizar lógica de programación en templates, como ejecutar sentencias and loops. if for se llaman 
                "etiquetas de plantilla" en Django. Para ejecutar las etiquetas, las rodeamos entre { 1 % 1 % 1}.-->
      </table>
      <li id="add"><a href="add/">Agregar</a></li>
    </div>
    <div class="links">
      <ul id="linkes">
        <li><a href="saludar/">Saludar</a></li>
        <li><a href="saludar/saludando/">Saludar a todos</a></li>
        <li><a href="saludar/autoescape/">autoescapar</a></li>
        <li><a href="saludar/verbatim/">qué pasa con la verba?</a></li>
        <li><a href="frutas/">dame fruta</a></li>
        <li><a href="testing/">probando</a></li>
      </ul>
    </div>
    <script src="{% static '/js/myfirst.js' %}"></script>
  </body>
</html>
